.Events {
   width: 100%;

   h3 {
      font-size: 26px;
      font-weight: normal;
      line-height: 1.5em;
   }

   time {
      font-size: 22px;
   }


   ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      grid-gap: 48px;
      li {
         outline-offset: 8px;
         border-radius: 8px;
      }
   }

   button {
      padding: 16px 32px;
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
   }
}