@import "../styles/colors";

.Button {
  background-color: $color-alt;
  border-radius: 8px;
  border: 1px solid $color-alt;

  cursor: pointer;

  &_Large {
    height: 64px;
    font-size: 30px;
    line-height: 35px;
  }
  &_Mid {
    height: 52px;
  }
  &_Small {
    height: 44px;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 20px;
    background-color: $color-violet;
    border: none;
    color: $color-light;
    outline-offset: 3px;
  }
}
