@import "src/global.module";
@import "../styles/colors";

.Roving_Radio {
  display: flex;
  grid-gap: 8px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 52px;
    background-color: $color-alt;
    border-radius: 4px;
    &:hover {
      background-color: blueviolet;
      color: #FFF;
    }
  }
}

.Selected {
  text-decoration: underline;
  font-weight: bold;
}