@import "../../shared/styles/colors";

.Header {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr 1fr;
  justify-items: center;
  max-width: 1032px;
  grid-gap: 16px;
  margin: 0 auto;
  padding: 36px 0;
}

.Logo {
  display: flex;
  width: 100%;
  align-content: start;
}

.SkipLink {
  position: absolute;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  width: 164px;
  background: $color-alt;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5em;
  margin-right: 248px;
  top: -120px;

  &:focus {
    top: 33px;
  }
}
