@import "src/shared/styles/colors";

.Header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 1032px;
  grid-gap: 16px;
  margin: 36px auto 0;
}

.Logo {
  display: flex;
  align-content: start;
}

.Controls {
  display: flex;
  grid-gap: 32px;
  flex-wrap: nowrap;
  max-width: 700px;
}

.SkipLink {
  position: absolute;
  padding: 8px 20px;
  border-radius: 8px;
  text-align: center;
  width: 164px;
  background: $color-alt;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5em;
  margin-right: 248px;
  top: -120px;

  &:focus {
    top: 33px;
  }
}
