.Subscribe {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  input[type=checkbox]
  {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin-right: 8px;
  }
}

.Subscribe__Input {
  display: grid;
  grid-template-areas: 'input button' 'checkbox checkbox';
  width: 540px;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 20px;
  max-height: 94px;

  input {
    grid-area: input;
  }

  div  {
    grid-area: checkbox;
  }

  button {
    grid-area: button;
  }
}