.Subscribe {
  display: flex;

  input[type=checkbox]
  {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin-right: 8px;
  }
}

.Subscribe__Input {
  display: flex;
  max-width: 540px;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;

  input {
    order: 1;
  }

  div  {
    order: 3;
  }

  button {
    order: 2;
  }
}