.Menu {
  max-width: 1032px;
  margin: 64px auto 0;
  width: 100%;

 ul {
   margin-block-start: 0;
   padding-inline-start: 8px;
   display: flex;
   grid-gap: 32px;
   list-style-type: none;
   font-size: 18px;
   line-height: 21px;
   text-align: left;
   li {
     display: flex;
     flex-wrap: nowrap;
     a {

       padding: 16px 12px;
       color: black;
     }
   }

 }
}