@import "../../styles/colors";

.TabButton {
  padding: 16px 32px;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 26px;
  margin-right: 8px;
  border: 3px solid $color-alt-dark;


  &:hover {
    background: $color-alt-light;
    border-color: $color-violet;
  }
  &:focus {
    text-decoration: underline;
  }
}

.Active {
  background: $color-alt;
  text-decoration: underline;
}
