.Stream {
  position: relative;
  width: 100%;
  margin-bottom: 12rem;
}

.Play {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  width: 118px;
  height: 118px;
  background: none;
  border: none;

  &:hover {
    filter: invert(0.7);
  }
}