.Card {
  width: 312px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &:focus-within {
    outline: 2px solid black;
    outline-offset: 12px;
  }

  img {
    border-radius: 8px;
  }
}