@import "../../global.module";

.Modal__Background {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__Card {
  width: 792px;
  background: white;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  div:first-child {
    display: flex;
    flex-direction: column;
    align-items: end;
    min-width: 100%;
  }

}